{% extends 'events/base.html' %}

{% block content %}
<div class="col-md-6 col-md-offset-3" style="padding-top: 20px;">
</div>
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About

                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="https://unsplash.it/750/450/?random" alt="">
            </div>
            <div class="col-md-6">
                <h2>About Fbuevent</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://unsplash.it/750/450/?random" alt="">
                    <div class="caption">
                        <h3>Dr Zahid Anwar<br>
                            <small>Professor</small>
                        </h3>
                        <p>Assitance profecssor at Fontbonne University in Computer Science department</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://unsplash.it/750/450/?random" alt="">
                    <div class="caption">
                        <h3>Nishit Bodawala<br>
                            <small>Student</small>
                        </h3>
                        <p>Student at Fontbonne university.MS in Computer Science .</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://unsplash.it/750/450/?random" alt="">
                    <div class="caption">
                        <h3>john Smith<br>
                            <small>IT Admin</small>
                        </h3>
                        <p>woking in Fontbonne University "Information Technological" department</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Our Customers -->
<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Organizations</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img"  alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img"  alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img"  alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/Users/nishit/Desktop/Fbu_img/piday_files/piday.jpg" alt="">
            </div>

        </div>
{% endblock content %}